/* Estilos para o componente Cabeçalho */
.cabecalho {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #580f34;
  color: white;
  width: 100%;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 250px;
}

/* Estilo responsivo para o título dentro do cabeçalho */
@media (max-width: 600px) {
  .cabecalho h1 {
    font-size: 1.5rem;
  }
}