.auditoria-header-info {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 1024px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 10px auto;
}

.cliente-nome {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.cliente-cnpj {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0;
}

.auditoria-header-info p {
  margin: 8px 0;
  font-size: 1rem;
  color: #555;
}

.auditoria-header-info p strong {
  color: #000;
  font-weight: bold;
  margin-right: 5px;
}

.auditorias-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 600px) {
  .auditorias-grid {
    flex-direction: column;
  }
  
  .auditoria-card,
  .loading-card,
  .success-card,
  .auditoria-header-info {
    width: 100%;
    box-sizing: border-box;
    padding: 8px; 
    margin: 10px auto;
    max-width: 600px;
  }
  
  .auditoria-header-info p,
  .cliente-nome,
  .cliente-cnpj {
    font-size: 0.9rem; 
  }

  .cliente-nome {
    font-size: 1rem;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .cliente-nome {
    font-size: 1rem;
  }

  .auditoria-header-info p,
  .cliente-cnpj {
    font-size: 0.75rem; 
  }
}

@media (max-width: 480px) {
  .cliente-nome {
    font-size: 1rem;
  }

  .cliente-cnpj strong p,
  .auditoria-header-info p strong{
    font-size: 0.75rem;
  }
}