.auditoria-header-info {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 1024px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 10px auto;
}

.cliente-nome {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.cliente-cnpj {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0;
}

.auditoria-header-info p {
  margin: 8px 0;
  font-size: 1rem;
  color: #555;
}

.auditoria-header-info p strong {
  color: #000;
  font-weight: bold;
  margin-right: 5px;
}

.auditorias-grid {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem a linha */
  gap: 20px; /* Adiciona um espaçamento entre os containers */
}

@media (max-width: 600px) {
  /*
    Este media query garante que os containers tenham o mesmo tamanho
    e se ajustem para ocupar a largura total em telas menores.
  */

  .auditorias-grid {
    flex-direction: column; /* Empilha os containers verticalmente */
  }
  
  .auditoria-card,
  .loading-card,
  .success-card,
  .auditoria-header-info {
    width: 100%; /* Garante que todos os containers tenham a mesma largura (100%) */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
    padding: 15px; 
    margin: 10px auto; /* Centraliza o container */
    max-width: 600px;
  }
  
  .auditoria-header-info p,
  .cliente-nome,
  .cliente-cnpj {
    font-size: 0.9rem; /* Unifica o tamanho da fonte */
  }

  .cliente-nome {
    font-size: 1rem;
    margin: 5px 0;
  }
}